div(class='table_row')
    div(class='table__intro')
        div(class='avatar')
            img('src'="assets/avatars/{{userpic}}")
        span(class='username') {{username}}
    div(class='table__values')
        div(class='table__cell cell__values')
            span('*ngFor' = "let val of value") {{val | numbers}}&nbsp;&nbsp;
        div(class='table__cell cell_runrate') {{runrate | numbers}}
        div(class='cell__award' '[ngSwitch]'='place')
            img('*ngSwitchCase'='1' src='assets/place1.svg')
            img('*ngSwitchCase'='2' src='assets/place2.svg')
            img('*ngSwitchCase'='3' src='assets/place3.svg')
            div('*ngSwitchDefault')

