.in-transition,
.in-transition *,
.in-transition *:before,
.in-transition *:after {
    transition: all 1750ms !important;
    transition-delay: 0 !important;
}

.wrapper {
    //background-color: var(--background-color);
    background-image: var(--background-image);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 60px 90px;
    box-sizing: border-box;
}

.header__global {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    .header_content {
        width: 100%;
        height: 60px;
        padding-right: 90px;
        position: relative;
        text-align: right
    }
}

.timer {
    font-size: 31px;
    line-height: 40px;
    letter-spacing: .52px;
    display: inline-block;
    margin-top: 15px
}

.stats_section {
    width: 100%;
    margin-bottom: 50px;
}

.header__section {
    margin-bottom: 25px;
    h2 {
        font-size: 39px;
        line-height: 45px;
        font-weight: 500;
        letter-spacing: .5px;
        color: var(--color-main);
        margin: 0;
    }
}

.full-width {
    width: 100%;
}

.stats_dashboard {
    display: flex;
    flex-wrap: wrap;
    // width: 810px;
    justify-content: space-between;
}

.table__intro {
    width: 430px;
    display: flex;
    justify-content: flex-start;
}

.table__values {
    width: 440px;
    justify-content: space-between;
    display: flex;
}

.cell__values {
    width: 180px;
    margin-right: 85px;
}

.cell_runrate {
    width: 80px;
    margin-right: 30px;
}

.cell__award {
    width: 65px;
}

.table_header {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    display: flex;
    .header_cell {
        height: 30px;
        span {
            color: var(--color-secondary);
            font-size: 23px;
            line-height: 30px;
            letter-spacing: .5px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

.stats_table {
    width: 870px;
    margin-right: 60px;
}

.stats_cards {
    width: 810px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin text-crop-number($line-height: 1.14, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 12;
    $bottom-crop: 8;
    $crop-font-size: 56;
    $crop-line-height: 1.14;
    // Apply values to calculate em-based margins that work with any font size
    $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
    $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
    // Mixin output
    line-height: $line-height;
    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }
    &::before {
        margin-bottom: calc(-#{$dynamic-top-crop}em+#{$top-adjustment});
    }
    &::after {
        margin-top: calc(-#{$dynamic-bottom-crop}em+#{$bottom-adjustment});
    }
}