div(class='change-theme' '[ngClass]'="isChanged ? 'in-transition' : '' ")
    div(class='parent-root theme-light' '[ngClass]'="isNight ? 'theme-dark' : 'theme-light' ")
        section(class='wrapper')
            header(class='header__global')
                .header_content
                    span(class='timer') {{updateDate | date:'d MMM HH:mm'}}

            section(class='container')
                section(class='stats_section')
                    header(class='header__section')
                        h2 Открытые счета
                    div(class='stats_dashboard')
                        div(class='stats_table' '*ngIf'="SalesManagers$")
                            div(class='table_header')
                                div.table__intro
                                div.table__values
                                    div(class='cell__values header_cell')
                                        span MO / ДД / ММ
                                    div(class='cell_runrate header_cell')
                                        span RRATE
                                    div(class='cell__award header_cell')

                            rosa-tablerow('*ngFor'="let manager of SalesManagers$ | orderby:order:ascending; index as i;"  '[index]'="i" '[username]'="manager?.Branch_District" '[userpic]'="manager?.avatar" '[value]'="[manager?.fct_today_in_work, manager?.fct_today_opn, manager?.fct]" '[runrate]'="manager?.rr" '[place]'="manager?.rn")
                        div(class='stats_cards' '*ngIf'="BankStats$")
                                rosa-card('[value]' = "BankStats$?.fct_today_opn" '[title]' = "'сегодня'")
                                rosa-card('[value]' = "BankStats$?.fct" '[title]' = "'Месяц Факт'")
                                rosa-card('[value]' = "BankStats$?.fct_today_in_work" '[title]' = "'Middle'")
                                rosa-card('[value]' = "BankStats$?.rr" '[title]' = "'RunRate'")


                section(class='stats_section')
                    header(class='header__section')
                        h2 Кредитование
                    div(class='stats_dashboard')
                        div(class='stats_table' '*ngIf'="ManagerLoans")
                            div(class='table_header')
                                div.table__intro
                                div.table__values
                                    div(class='cell__values header_cell')
                                        span ВЫД / ПРОГ
                                    div(class='cell_runrate header_cell')
                                        span RRATE
                                    div(class='cell__award header_cell')

                            rosa-tablerow('*ngFor'="let manager of LoansManagers$ | orderby:order:ascending; index as i;"  '[index]'="i" '[username]'="manager?.Branch_District" '[userpic]'="manager?.avatar" '[value]'="[manager?.fct, manager?.pln]" '[runrate]'="manager?.rr" '[place]'="manager?.rn")
                        div(class='stats_cards' '*ngIf'="LoansBank$")
                                rosa-card('[value]' = "LoansBank$?.fct" '[title]' = "'выполнено'")
                                rosa-card('[value]' = "LoansBank$?.pln" '[title]' = "'прогноз'")

